.dataset {
  margin: 15px 0;
  border: solid 1px rgb(169, 169, 169);
  padding: 10px;
}

.dataset:hover {
  background-color: rgb(244, 244, 244);
}

.dataset .text {
  display: inline-block;
  margin-left: 10px;
  width: calc(100% - 30px);
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.dataset .innerdatasetleft {
  width: 66%;
  display: inline-block;
  vertical-align: top;
  padding: 0 15px 0 0;
  box-sizing: border-box;
}

.dataset .innerdatasetright {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding: 0 5px 0 0;
  box-sizing: border-box;
}

.dataset .innerdatasetright .parameters-highlight {
  border-left: 1px solid black;
  padding-left: 8px;
}

.dataset .innerdatasetright .date-highlight {
  padding-top: 10px;
}

.dataset .footer-highlight {
  font-size: 12px;
  padding: 8px 0 0 0;
}

.dataset .text .text-title {
  font-weight: bold;
  padding-bottom: 5px;
  display: inline-block;
}

.dataset .text .text-live {
  float: right;
  font-size: 10px;
  color: white;
  background-color: black;
  border-radius: 2px;
  padding: 2px 6px;
  font-weight: bold;
}

input.SearchBar {
  width: 100%;
  border: solid 1px rgb(169, 169, 169);
  box-sizing: border-box;
  padding: 3px 15px 3px 10px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.checkbox {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  border: solid 1px black;
  vertical-align: top;
  position: relative;
}

.checkbox:hover {
  border: solid 1px grey;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.checkmark {
  position: absolute;
  left: 4px;
  top: 0px;
  width: 3px;
  height: 8px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.checkbox.checked .checkmark {
  display: block;
}

.download-multiple-title {
  font-size: 16px;
  font-weight: 700;
}

.selected-data-list {
  max-height: 60px;
  overflow: auto;
}

.MultipleDownload button {
  border: solid 1px black;
  border-radius: 5px;
  background-color: white;
  margin-right: 15px;
  margin-top: 5px;
  cursor: pointer;
  padding: 4px 8px;
  width: 120px;
}

.MultipleDownload button:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.download-container {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: none;
}

.download-container.show {
  display: block;
}

.datalist {
  display: none;
  margin-bottom: 120px;
}

.datalist.show {
  display: block;
}

.download-inner {
  padding: 5px 15px;
}

.download-close {
  width: 25px;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 700;
  font-size: 40px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}

.download-title {
  display: inline-block;
}

.download-top span {
  float: right;
  font-size: 18px;
}

.download-top {
  cursor: pointer;
}

.download-top h3 {
  border-bottom: 1px solid #c8c6bf;
  padding: 0 0 5px;
  margin: 0 0 16px;
  line-height: 20px;
}

.download-content {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.multi-select {
  padding: 5px 0;
}

.inner__control {
  border-color: black !important;
  cursor: text !important;
}

.inner__control:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.inner__indicator.inner__dropdown-indicator {
  color: black !important;
}

.inner__indicator.inner__clear-indicator {
  cursor: pointer;
}

.sortbar {
  width: 100%;
  display: inline-block;
}

.sortbar select {
  display: inline-block;
  background-color: white;
  margin-left: 5px;
  float: right;
  margin: 2px;
}

table.sortbar-table {
  display: inline-block;
  cursor: pointer;
}

table.sortbar-table td {
  padding: 1px 4px;
  border: solid 1px rgb(169, 169, 169);
  font-size: 13.333px;
}

.characteristics {
  border-bottom: 1px solid #c8c6bf;
  padding-bottom: 16px;
}

/* Filter Bar */

.filterbar {
  margin-top: 5px;
}

.filterbar .filterbar-item {
  padding: 2px 6px;
  width: fit-content;
  display: inline-block;
  border: 1px solid rgb(169, 169, 169);
  margin: 3px 8px 3px 0px;
  cursor: pointer;
}

.filterbar .filterbar-text {
  display: inline-block;
}

.filterbar .filterbar-x {
  display: inline-block;
  margin-left: 6px;
}

.filterboxinner {
  cursor: pointer;
}

.filterboxinner:hover {
  text-decoration: underline;
}

.popup {
  width: 100%;
  height: 502px;
  border: 1px solid rgb(169, 169, 169);
  box-sizing: border-box;
  display: block;
  margin-bottom: 15px;
}

.hidepopup {
  width: 100%;
  height: 502px;
  display: none;
}

.dataportal-loading {
  text-align: center;
  margin-top: 100px;
}

@media screen and (max-width: 800px) {
  .dataset .innerdatasetleft {
    width: 100%;
  }

  .dataset .innerdatasetright {
    width: 100%;
  }

  .dataset .innerdatasetright .parameters-highlight {
    border: none;
    padding-left: 0;
    padding-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .sortbar select {
    padding: 4px 0;
  }
  table.sortbar-table td {
    padding: 6px 4px;
  }
  .checkbox {
    width: 14px;
    height: 14px;
  }
  .datalist {
    padding: 0 10px;
  }
  .sortbar {
    padding: 0 4px;
    box-sizing: border-box;
  }
  .filterbar {
    padding: 0 5px;
  }
}
