ul.maplayers-list {
  list-style-type: none;
  margin: 0;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  height: calc(100% - 290px);
  box-shadow: 1px 1px 10px #ebe3e3 inset;
  border-radius: 5px;
  overflow-y: auto;
}

.maplayers-list li {
  list-style-type: none;
  z-index: 99999;
}

.maplayers-contents {
  margin-bottom: 15px;
}

.maplayers-dropdown {
  margin: 5px 0 20px 0;
}

.maplayers-dropdown-title {
  font-size: 16px;
}

.maplayers-dropdown-content {
  margin-left: 20px;
  margin-top: 5px;
}

.maplayers-dropdown .maplayers-dropdown-table {
  width: 100%;
  background-color: #f2f5f7;
  padding: 5px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  box-sizing: border-box;
}

.maplayers-dropdown .maplayers-check {
  width: 10px;
  vertical-align: top;
}

.maplayers-dropdown .maplayers-checkbox {
  display: inline-block;
}

.maplayers-dropdown .maplayers-symbol {
  display: inline-block;
  cursor: pointer;
}

.maplayers-dropdown .maplayers-settings {
  cursor: pointer;
  font-size: 16px;
}

.maplayers-dropdown .maplayers-settings img {
  height: 16px;
  cursor: pointer;
  opacity: 0.7;
}

.maplayers-dropdown .maplayers-settings img.grey {
  opacity: 1;
}

.maplayers-dropdown .maplayers-settings img:hover {
  opacity: 1;
}

.maplayers-dropdown-content.hide {
  display: none;
}

.maplayers-dropdown-settings.hide {
  display: none;
}

.maplayers-parameter {
  font-size: 14px;
  font-style: italic;
}

.maplayers-label {
  font-size: 18px;
}

.maplayers-label .maplayers-arrow {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.editsettings {
  background-color: white;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.editsettings-title {
  margin: 10px 0 10px 4px;
  text-decoration: underline;
}

.editsettings-table {
  table-layout: fixed;
}

.editsettings-table input[type="text"] {
  width: 50px;
}

.editsettings-table select {
  width: 80px;
}

.editsettings-button {
  width: 100%;
  text-align: center;
}

.editsettings-button button {
  margin: 10px;
}

.editsettings table.min-max {
  table-layout: fixed;
  width: 100%;
}

.editsettings table.min-max input {
  width: 100%;
}

@media screen and (max-height: 800px) {
  ul.maplayers-list {
    height: calc(100% - 250px);
  }
}

@media screen and (max-width: 500px) {
  ul.maplayers-list {
    height: calc(100% - 180px);
    padding-bottom: 65px;
    box-sizing: border-box;
  }
}
