.file-explorer {
  background-color: white;
  border: solid 1px rgb(169, 169, 169);
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.file-explorer .file-explorer-header {
  margin: 10px 0;
  color: #102a43;
}

.file-explorer
  .file-explorer-header
  .file-explorer-header-inner
  .file-explorer-header-inner-object {
  display: inline-block;
  padding: 5px 20px;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.file-explorer
  .file-explorer-header
  .file-explorer-header-inner
  .file-explorer-header-inner-object:hover {
  background-color: rgb(240, 240, 240);
}

.file-explorer
  .file-explorer-header
  .file-explorer-header-inner
  .file-explorer-header-inner-selected {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 10px;
  width: 250px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}

.file-explorer
  .file-explorer-header
  .file-explorer-header-inner
  .file-explorer-header-inner-selected:hover {
  background-color: #102a43;
  color: white;
}

.file-explorer
  .file-explorer-header
  .file-explorer-header-inner
  .file-explorer-header-inner-selected.active {
  background-color: #102a43;
  color: white;
}

.file-explorer .file-explorer-content {
  padding: 0 20px;
  height: calc(100% - 66px);
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.file-explorer .file-explorer-content .file-explorer-content-list table {
  width: 100%;
  text-align: left;
}

.file-explorer
  .file-explorer-content
  .file-explorer-content-list
  .file-explorer-content-list-object {
  cursor: default;
  padding: 10px 5px;
  margin: 2px 0;
}

.file-explorer
  .file-explorer-content
  .file-explorer-content-list
  .file-explorer-content-list-object.folder {
  cursor: pointer;
}

.file-explorer
  .file-explorer-content
  .file-explorer-content-list
  .file-explorer-content-list-object.selected {
  background-color: #102a43;
  color: white;
}

.file-explorer
  .file-explorer-content
  .file-explorer-content-list
  .file-explorer-content-list-object
  .list-object-img {
  display: inline-block;
}

.file-explorer
  .file-explorer-content
  .file-explorer-content-list
  .file-explorer-content-list-object
  .list-object-img
  img {
  height: 16px;
  margin-right: 10px;
}

.file-explorer
  .file-explorer-content
  .file-explorer-content-list
  .file-explorer-content-list-object
  .list-object-name {
  display: inline-block;
}

.file-explorer
  .file-explorer-content
  .file-explorer-content-list
  .file-explorer-content-list-object:hover
  .list-object-name {
  text-decoration: underline;
}

.file-explorer
  .file-explorer-content
  .file-explorer-content-list
  .file-explorer-content-list-object
  .list-object-size {
  float: right;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
}
.lds-text {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
