.colortable {
  height: calc(100% - 60px);
  overflow: auto;
}

.colortable table {
  width: 100%;
  height: 100%;
  overflow: auto;
}

form.colortable table input {
  width: 100%;
}

form.colortable table input[type="color"] {
  padding: 0;
  border: none;
}

form.colortable table input[type="text"] {
  background-color: transparent;
  border: none;
  font-size: 14px;
}

.colortable-deleterow {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}
