.errormodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999999;
}

.errormodal .errorinner {
  background-color: white;
  margin: auto;
  margin-top: 15%;
  width: 400px;
  max-width: 100%;
  min-height: 100px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 4px;
}

.errormodal .errorinner .closeicon {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.errormodal .errorinner .closeicon:hover,
.errormodal .errorinner .closeicon:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.errormodal,
.errorinner table {
  width: 100%;
}

.errormodal .errorinner .errortitle {
  text-align: center;
  font-size: 20px;
  color: red;
}

.errormodal .errorinner .errortext {
  margin: 20px 0;
}

.errormodal .errorinner .errordetails {
  text-align: center;
  font-size: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.errormodal .errorinner .errordetailstext {
  margin: 20px 0;
  color: red;
  font-size: 12px;
  font-style: italic;
}
