.basemap select.basemapselector {
  padding: 2px 5px;
  background-color: white;
  width: 100%;
}

.printlegend {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  z-index: 9999999999999;
}

.printheader {
  display: none;
  font-size: 18px;
  text-align: right;
  position: fixed;
  top: 0;
  right: 10px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 9999999999999;
}

@media print {
  .map .gis-controls {
    display: none;
  }

  .map .sidebar-gis {
    display: none;
  }

  .map .shading {
    display: none;
  }

  .map .timeselector-gis {
    display: none;
  }

  .map .legend {
    display: none;
  }

  .printlegend {
    display: block;
  }

  .printheader {
    display: block;
  }

  .legend-content {
    overflow: hidden;
  }

  header {
    margin: 0;
  }
  header .header-inner {
    margin: 0;
  }
  header .desktop-nav,
  .mobile-nav {
    display: none;
  }
}
