.report-issue {
  margin-top: 25px;
  margin-left: 10px;
}

.report-issue button {
  margin: 0;
  margin-left: 20px;
  border-radius: 5px;
}

.report-issue .report-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9;
}

.report-issue .report-modal .report-modal-box {
  box-shadow: 0 0 4px black;
  margin: auto;
  width: 300px;
  margin-top: 20%;
  padding: 30px;
  background-color: white;
  position: relative;
}

.report-issue .report-modal .report-modal-box .close-modal {
    position: absolute;
    font-size: 30px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.report-issue .report-modal .report-modal-box textarea {
  width: 100%;
  height: 80px;
}

.report-issue .report-modal .report-modal-box input {
  width: 100%;
  border: 1px solid black;
  margin: 10px 0;
}

.report-issue .report-modal .report-modal-box .modal-submit {
  width: 100%;
  text-align: center;
}
