/* -------------- Header -------------------------  */

header {
  position: fixed;
  background-color: white;
  margin-top: 0;
  padding: 10px 0;
  top: 0;
  width: 100%;
  z-index: 9999999;
  box-shadow: rgb(220 220 220) 0px 2px 10px;
}

@media screen and (max-width: 500px) {
  header {
    box-shadow: none;
  }
}

header .header-inner {
  padding: 0 10px;
  width: 960px;
  margin: auto;
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;
}

/* Logo */

header .logo {
  display: inline-block;
  height: 30px;
}

header .logo img {
  height: 100%;
}

@media screen and (max-width: 500px) {
  header .logo {
    height: 20px;
  }
}

/* Mobile Navigation */

header .mobile-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 9999999;
  text-align: center;
  border-top: 1px solid #d8d6d3;
}

header .mobile-nav .mobile-navbar {
  width: 100%;
}

header .mobile-nav a {
  color: black;
  padding: 0 10px;
  text-decoration: none;
}

header .mobile-nav img {
  width: 60px;
  margin: 5px 2px;
}

header .mobile-nav .imgactive img {
  border-bottom: 1px black solid;
}

header .mobile-nav .more {
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
}

header .mobile-nav .mobile-flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

header .mobile-nav .mobile-menu {
  display: none;
  width: 100%;
}

header .mobile-nav .mobile-menu.show {
  display: block;
}

@media screen and (max-width: 500px) {
  header .mobile-nav {
    display: block;
  }
}

/* Navigation Menu */

header .desktop-nav {
  float: right;
}

header .desktop-nav .desktop-navbar .menu-icon {
  display: inline-block;
  cursor: pointer;
  padding-left: 40px;
  font-size: 16px;
  font-family: The Serif Bold, serif;
}

header .desktop-nav .desktop-navbar .menu-icon .symbol {
  display: inline-block;
  transform: rotate(90deg);
}

header .desktop-nav .desktop-navbar .links {
  display: inline-block;
}

header .desktop-nav a.header-item {
  padding: 7px 0 0px 40px;
  color: grey;
  text-decoration: none;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  display: inline-block;
}

header .desktop-nav a.header-item.active {
  color: black;
  font-weight: 600;
}

header .desktop-nav a.header-item:hover {
  color: black;
}

header .desktop-nav .desktop-menu {
  display: none;
  max-width: 500px;
  position: absolute;
  background-color: white;
}

header .desktop-nav .desktop-navbar {
  text-align: right;
}

header .desktop-nav .desktop-menu.show {
  display: block;
}

header .desktop-nav .midscreen {
  display: none;
}

@media screen and (max-width: 500px) {
  header .desktop-nav {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  header .desktop-nav a.header-item {
    padding: 10px 5px;
    font-size: 14px;
  }
}
