.datetime-selector {
  width: 100%;
  margin-top: 15px;
  padding: 0 5px;
  box-sizing: border-box;
}

.datetime-selector .datetime-picker {
  text-align: center;
  margin-bottom: 5px;
}

.datetime-picker .datetime-value {
  display: inline-block;
}

.react-datetime-picker {
  z-index: 999;
}

.react-datetime-picker__wrapper {
  border: none;
}

.react-datetime-picker__calendar {
  width: 300px;
}

.single-value {
  font-size: 12px;
  display: inline-block;
  width: calc(100% - 60px);
  text-align: center;
  vertical-align: top;
  margin-top: 5px;
}

.slider-arrow {
  font-size: 22px;
  width: 30px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.slider-arrow:hover {
  color: grey;
}