.railStyle {
  position: absolute;
  width: 100%;
  transform: translate(0%, -50%);
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.railCenterStyle {
  position: absolute;
  width: 100%;
  transform: translate(0%, -50%);
  height: 2px;
  border-radius: 7px;
  cursor: pointer;
  pointer-events: none;
  background-color: rgb(184, 184, 184);
}

.railOuterStyle {
  position: absolute;
  transform: translate(0%, -50%);
  width: 100%;
  height: 42px;
  border-radius: 7px;
  cursor: pointer;
}

.railInnerStyle {
  position: absolute;
  width: 100%;
  height: 2px;
  transform: translate(0%, -50%);
  border-radius: 7px;
  pointer-events: none;
  background-color: black;
}

.datetime-selector {
  width: 100%;
  margin-top: 15px;
  padding: 0 5px;
  box-sizing: border-box;
}

.datetime-selector .datetime-picker {
  text-align: center;
  margin-bottom: 5px;
}

.datetime-picker .datetime-value {
  display: inline-block;
}

.react-datetime-picker__wrapper {
  border: none;
}

.react-datetime-picker__calendar {
  width: 300px;
}

.single-value {
  font-size: 12px;
  display: inline-block;
  width: calc(100% - 60px);
  text-align: center;
  vertical-align: top;
  margin-top: 5px;
}

.slider-arrow {
  font-size: 22px;
  width: 30px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.slider-arrow:hover {
  color: grey;
}

.availabilitybar {
  width: 100%;
  margin-bottom: -6px;
  height: 16px;
}

.availabilitybarv {
  height: 100%;
  position: absolute;
  right: 42px;
  width: 12px;
}
