.multi-steps > li.is-active:before,
.multi-steps > li.is-active ~ li:before {
  content: counter(stepNum);
  font-family: inherit;
  font-weight: 700;
}
.multi-steps > li.is-active:after,
.multi-steps > li.is-active ~ li:after {
  background-color: #ededed;
}
.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0;
}
.multi-steps > li {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: black;
}
.multi-steps > li:before {
  content: "\f00c";
  content: "\2713";
  content: "\10003";
  content: "\10004";
  content: "\2713";
  display: block;
  margin: 0 auto 4px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 50%;
}
.multi-steps > li:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: -1;
}
.multi-steps > li:last-child:after {
  display: none;
}
.multi-steps > li.is-active:before {
  background-color: #fff;
  border-color: black;
}
.multi-steps > li.is-active ~ li {
  color: #808080;
}
.multi-steps > li.is-active ~ li:before {
  border-color: #ededed;
}

.selectrepo {
  text-align: center;
}

.selectrepo select {
  margin: 30px;
  padding: 10px;
}

.metadataform table {
  width: 100%;
  border-collapse: collapse;
}

.metadataform table tr {
  border: 1px solid lightgray;
}

.metadataform table td,
th {
  padding: 10px;
}

.metadataform table input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.metadataform table .addauthor {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.metadataform table .required {
  display: inline-block;
  color: red;
}

.metadataform table textarea {
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  min-height: 90px;
}

.metadataform table .addauthor:hover {
  text-decoration: underline;
}

.publishdata p {
  margin: 20px 20px;
}

.errormessage {
  margin: 20px 0px;
  font-size: 16px;
  color: red;
  border: 1px solid red;
  padding: 0px 20px;
}

.errormessage .message {
  font-size: 12px;
}

.publishdata table {
  margin: 20px 20px;
}
