.leaflet-popup-content a {
  text-decoration: none !important;
  color: black !important;
}

.leaflet-popup-content a:hover {
  text-decoration: underline !important;
}

.leaflet-tooltip .tooltipdiff {
  font-size: 10px;
  text-align: center;
}

.map {
  height: calc(100% - 150px);
  min-height: 300px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.map.full {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 !important;
}

.mapviewerlegend {
  position: absolute;
  top: 110px;
  right: 10px;
  z-index: 999;
}

@media screen and (max-width: 500px) {
  .map {
    height: calc(100% - 120px);
  }
  .mapviewerlegend {
    top: 50px;
    right: 0;
  }
}

.help {
  z-index: 999;
  position: absolute;
  top: 70px;
  left: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  height: 30px;
  width: 30px;
  background-color: white;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}

.help:hover {
  background-color: rgb(200, 200, 200);
}

.fullscreen {
  z-index: 999;
  position: absolute;
  top: 100px;
  left: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  height: 30px;
  width: 30px;
  background-color: white;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}

.fullscreen:hover {
  background-color: rgb(246, 246, 246);
}

.help-container {
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  padding: 30px;
  box-sizing: border-box;
}

.help-container.show {
  display: block;
}

.help-close {
  width: 25px;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 700;
  font-size: 40px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}

.help-title {
  display: inline-block;
}

.help-top span {
  float: right;
  font-size: 18px;
}

.help-top {
  cursor: pointer;
}

.help-top h3 {
  border-bottom: 1px solid #c8c6bf;
  padding: 0 0 5px;
  margin: 0 0 16px;
  line-height: 20px;
}

.help-content {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.map-loader {
  z-index: 9999;
  position: absolute;
  top: calc(50% - 76px);
  left: 0;
  width: 100%;
  text-align: center;
}

.timeselector-gis {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 9998;
}

.gis-controls {
  position: absolute;
  left: 10px;
  top: 120px;
  z-index: 999;
}

.gis-datalakes-logo img {
  width: 150px;
}

@media screen and (max-width: 500px) {
  .help-container {
    padding: 10px;
  }
}

/* Tocuhscreen changes */

@media (hover: none) and (pointer: coarse) {
  .menu-gis .menu-gis-item {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .menu-gis .menu-gis-item img {
    width: 22px;
    padding: 6px;
  }
}

.my-labels {
  background-color: none;
}

@media screen and (max-width: 500px) {
  .gis-controls {
    top: 60px;
  }
}
