.lakes-map {
  height: calc(100vh - 540px);
  width: calc(100vw - 400px);
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
  left: 0;
}

.lakes-map.full {
  height: calc(100vh - 120px);
}

.lakes-list {
  height: calc(100vh - 155px);
  overflow-y: auto;
  position: absolute;
  z-index: 999;
  right: 0;
  background-color: white;
  width: 400px;
  padding: 0 10px;
  box-sizing: border-box;
}

.lake-morphology {
  position: absolute;
  z-index: 9999;
  left: 0;
  bottom: 0;
  width: calc(100vw - 400px);
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

.lake-morphology .banner {
  text-align: center;
  font-size: 22px;
}

.lakes-list table {
  border-collapse: collapse;
}

.lakes-list table tr {
  cursor: pointer;
}

.lakes-list table tr:nth-child(even) {
  background: #F3F3F3;
}
.lakes-list table tr:nth-child(odd) {
  background: #fff;
}

.lakes-list table tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.lakes-list table td {
  padding: 5px 10px;
}

.lakes-list table td.center {
  text-align: center;
}

.lakes-map-short {
  width: 100%;
  height: 350px;
}

.lake-morphology .interpolated {
  display: inline-block;
}

.lake-morphology .xselect {
  float: right;
}

.lake-morphology .reference {
  font-weight: bold;
  text-align: center;
}

.lake-morphology .xselect button {
  padding: 1px 5px;
  margin-left: 10px;
}

.lake-morphology .xselect button:hover {
  background-color: azure;
}

.lake-morphology .lakes-graph-short {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  .lakes-list {
    display: none;
  }

  .lake-morphology {
    width: 100vw;
  }

  .lakes-map {
    width: 100vw;
  }
}

@media screen and (max-width: 500px) {
  .lake-morphology {
    padding: 10px;
  }
  .lake-morphology .lakes-graph-short {
    height: 200px;
    margin-top: 10px;
  }
  .lakes-map {
    height: calc(100vh - 320px);
  }
}
