.api-container {
  border: 1px solid rgba(59, 65, 81, 0.3);
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.api-inner {
  padding: 0 10px;
  margin-top: 25vh;
}

.swagger-ui .info {
  display: none;
}

.swagger-ui .scheme-container {
  padding: 0;
  margin-top: -50px;
  box-shadow: none;
}

.swagger-ui .wrapper {
  padding: 0 10px;
}

.doc-desc {
  padding: 0 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .swagger-ui .scheme-container {
    margin: 0;
    bottom: 70px;
  }
  .api-container {
    margin: 50px 15px;
  }
}
