.colormanipulation-outer {
  height: 100%;
}

.colormanipulation-headerbar {
    margin-bottom: 20px;
}

.colormanipulation-header {
  display: inline-block;
  padding: 15px;
  padding: 5px;
  margin: 1px 15px 1px 1px;
  cursor: pointer;
}

.colormanipulation-header:hover {
  border: 1px solid;
  margin: 0 14px 0 0;
}

.colormanipulation-header.header-active {
  border: 1px solid;
  margin: 0 14px 0 0;
}
