.bafu {
  width: 100%;
  height: 100%;
  overflow: auto;
  left: 0;
  top: 0;
  position: fixed;
  background-color: white;
}

.bafu .graph {
  height: calc(100% - 90px);
  width: 100%;
  min-height: 180px;
}

.bafu .selector {
  height: 100px;
  width: calc(100% - 20px);
  padding: 10px;
  margin: -20px 10px 0 10px;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 4px;
  position: relative;
}

.bafu .selector .datetime-selector .datetime-picker {
  position: absolute;
  width: calc(100% - 20px);
}

.bafu .datetime-selector {
  margin-top: 0;
}
