/* -------------- Footer -------------------------  */

footer {
  border-top: 1px solid #d8d6d3;
  width: 960px;
  color: rgb(50, 50, 50);
  margin: auto;
  margin-top: 40px;
  max-width: 100%;
}

footer .container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

footer .container .partner-logo {
  display: inline-block;
}

footer .container .partner-logo img {
  opacity: 0.5;
  height: 30px;
  margin: 5px 3%;
  vertical-align: middle;
}

footer .container .partner-logo img:hover {
  opacity: 1;
}

footer .container .copyright {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 4px 50px 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer .container .copyright .contact {
  margin-right: auto;
  padding-left: 50px;
}

footer .container .copyright .contact img {
  height: 20px;
  padding-right: 20px;
  opacity: 0.5;
  vertical-align: middle;
}

footer .container .copyright .contact img:hover {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  footer {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  footer .container .partners img {
    width: 10%;
    height: auto;
  }
}

@media screen and (max-height: 820px) {
  footer {
    position: relative;
  }
}
