.legend {
  z-index: 998;
  background-color: white;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.legend.hide {
  width: auto;
}

.legend-inner {
  display: inline-block;
  max-width: 120px;
  margin: 2px 10px;
  text-align: center;
  vertical-align: top;
}

.legend-title {
  cursor: pointer;
  font-size: 15px;
  padding: 5px 20px 5px 20px;
  border-bottom: 1px solid rgb(169, 169, 169);
  color: rgb(51, 51, 51);
  text-align: right;
}

.legend.hide .legend-title {
  border: none;
}

.legend-title-text {
  display: inline-block;
}

.legend-content {
  padding-top: 5px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  max-height: 350px;
  overflow: scroll;
}

.legend-content.hide {
  display: none;
}

.rasterdisplay-colorbar {
  width: 20px;
  height: 100%;
}

.rasterdisplay-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.markerdisplay-table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  height: 22px;
}

.rasterdisplay-innerlabel {
  font-size: 11px;
}

.rasterdisplay-bar {
  padding: 0;
  font-size: 8px;
}

.markerdisplay-symbol {
  line-height: 16px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .legend {
    max-width: calc(100% - 20px);
  }
}
